@charset "utf-8";

body,td,th,p {
font-family:Arial,Helvetica,sans-serif;
font-size:16px;
color:#333;
line-height:1.5
}

body {
margin:0;
position:relative;
max-width:1100px;
margin-left:auto;
margin-right:auto;
background:url(../img/bg1-min.jpg)
}

a:hover,a:focus {
color:#3397db;
text-decoration:none
}

h1,h2,h3,h4,h5,h6 {
font-family:Arial,Helvetica,sans-serif;
margin:0 0 20px;
color:#92053f
}

article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
display:block
}

#maincontent {
background-color:#a79997;
min-height:100%;
display:flex;
flex-direction:column;
position:relative
}

#footer {
background-color:#444;
color:#b3b3b3;
font-size:8pt;
letter-spacing:1px;
padding:25px;
text-align:center;
text-transform:uppercase
}

#restaurants-list li .favorite-icon button,#maincontent .favorite-icon button {
max-width:25px;
max-height:25px;
position:absolute;
top:4px;
right:20px;
width:25px;
height:25px;
cursor:pointer;
background-color:inherit;
border:none;
margin:0;
padding:0;
color:transparent;
font-size:2px;
}

#maincontent .favorite-icon button {
top:20px
}

#map {
height:400px;
width:100%;
background-color:#a79997;
text-align:center
}

#mapImg {
cursor:pointer
}

.map-aria-description {
display:none
}

.inside #map-container {
background:blue none repeat scroll 0 0;
height:200px
}

.inside #map {
background-color:#a79997;
height:100%;
width:100%
}

nav {
width:100%;
background-color:#2528316b;
text-align:center
}

nav h1 {
margin:auto;
padding:25px 20px
}

nav h1 a {
color:#fff;
font-size:20px;
font-weight:200;
letter-spacing:10px;
text-transform:uppercase
}

nav {
text-align:left
}

#review-entry {
margin-left:auto;
margin-right:auto;
position:relative;
max-width:800px;
width:100%;
padding-bottom:65px
}

#review-entry label span {
display:block;
font-size:14px;
margin-left:10px;
margin-right:10px
}

#review-entry label input {
width:calc(100% - 20px);
box-sizing:border-box;
font-size:18px;
padding:5px;
margin-left:10px;
margin-right:10px
}

#review-entry label select {
font-size:18px;
margin-left:10px;
margin-right:10px
}

#review-entry label textarea {
width:calc(100% - 20px);
box-sizing:border-box;
font-size:18px;
padding:5px;
margin-left:10px;
margin-right:10px
}

#review-entry div {
margin-bottom:15px
}

#breadcrumb {
padding:10px;
list-style:none;
background-color:#eee;
font-size:17px;
margin:0;
max-width:100%
}

#breadcrumb li {
display:inline
}

#breadcrumb li + li:before {
padding:8px;
color:#000;
content:"/\00a0"
}

#breadcrumb li a {
color:#026ac5;
text-decoration:none
}

#breadcrumb li a:hover {
color:#01447e;
text-decoration:underline
}

#breadcrumb li:last-of-type a {
color:#666;
text-decoration-line:none
}

#restaurant-img {
width:100%
}

#restaurant-address-and-hours {
padding:15px 20px
}

#restaurant-address {
font-size:18px;
font-weight:700
}

.restaurant-info-label {
display:none
}

#restaurant-cuisine {
background-color:#333;
color:#ddd;
font-size:12pt;
font-weight:300;
letter-spacing:10px;
margin:0 0 20px;
padding:2px 0;
text-align:center;
text-transform:uppercase;
width:100%
}

#restaurant-container,#reviews-container {
border-bottom:1px solid #d9d9d9;
border-top:1px solid #fff
}

#reviews-container {
padding:30px 20px 80px
}

button {
color:#92053f;
background-color:#f1c4d6;
border-radius:16px;
margin:15px
}

#reviews-list {
margin:0;
padding:0
}

#reviews-list li {
background-color:#fcf;
border:2px solid #f3f3f3;
display:block;
list-style-type:none;
margin:0 0 40px;
overflow:hidden;
padding:20px 40px 40px;
position:relative
}

#reviews-list li p {
margin:0 0 10px
}

.restaurant-hours-flex {
display:flex;
justify-content:center;
align-items:center;
margin-top:25px
}

#restaurant-hours {
width:100%;
max-width:500px
}

#restaurant-hours tr td:first-of-type {
width:40%
}

#restaurant-hours tr td:last-of-type {
width:60%
}

#restaurant-hours td {
color:#666
}

.restaurant-review-user {
font-weight:700
}

#reviews-heading {
display:flex;
flex-wrap:wrap;
justify-content:space-between;
align-items:baseline
}

#reviews-heading a {
color:#333;
text-decoration-line:underline;
font-size:14px
}

.filter-options {
width:100%;
background-color:#2629326e;
align-items:center;
padding:15px 0
}

.filter-options h2 {
color:#fff;
font-size:1rem;
font-weight:400;
line-height:1;
margin:0 20px
}

.filter-options select {
background-color:#fff;
border:1px solid #fff;
font-family:Arial,sans-serif;
font-size:14px;
height:35px;
letter-spacing:0;
margin:10px;
width:200px
}

#restaurants-list {
text-align:center;
display:flex;
flex-direction:row;
flex-wrap:wrap;
justify-content:center;
list-style: none
}

#restaurants-list li {
background-color:#efefefb5;
margin:4px;
min-height:380px;
padding:0 0 25px;
min-width:270px;
max-width:300px
}

@media only screen and (min-width: 0px) {
#restaurants-list li {
max-width:100%
}
}

@media only screen and (min-width: 714px) {
#restaurants-list li {
max-width:45%
}
}

@media only screen and (min-width: 1032px) {
#restaurants-list li {
max-width:300px
}
}

#restaurants-list .restaurant-img {
background-color:#ccc;
display:block;
margin:0;
max-width:100%;
min-width:100%;
overflow:hidden
}

#restaurants-list p {
margin:0;
font-size:11pt
}

.filter-selects {
display:flex;
flex-direction:row;
flex-wrap:wrap;
justify-content:flex-start
}

.filter-label {
display:none
}